* {
    box-sizing: border-box;
}

body {
    background-color: #F1DCC9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    border: 1px solid #F1DCC9;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 130%;
    font-weight: bold;
}

.nav-link {
    padding: 0 15px;
    line-height: 30px;
}

.nav-item {
    color: #94430d;
}

.section a {
    color: #94430d;
    text-decoration: underline; 
    transition: color 0.5s;
}

.section a:hover {
    color: #4d2323;
}

.main {
    border: 1px solid #F1DCC9;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

/* style for sections */
.section {
    color: black;
    width: 50%;
}

/* style for section titles */
.section-title {
    color: #9F4636;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

.footer {
    padding: 15px;
    border: 1px solid #F1DCC9;
}

.heading1 {
    color: #6C2D2C;
    text-align: center;
}

#profile {
    font-size: 120%;
    width: 30%;
    padding: 5px;
    order: 1;
}

#contacts {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 30%;
    padding: 5px;
    order: 3;
}

#summary {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 40%;
    padding: 5px;
    order: 2;
}

#skills {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 30%;
    padding: 5px;
    order: 3;
}

#code {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    padding: 5px;
    width: 30%;
    order: 8;
}

#courses {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    padding: 5px;
    width: 20%;
    order: 5;
}

#projects {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 33%;
    padding: 5px;
    order: 6;
}

#education {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 40%;
    padding: 5px;
    order: 4;
}

#languages {
    text-align: justify;
    font-size: 120%;
    font-style: italic;
    width: 30%;
    padding: 5px;
    order: 5;
}


.RS_logo {
    width: 150px;
}

.GH_logo {
    width: 50px;
}

.icon {
    width: 80px;
}

.contacts {
    vertical-align: middle;
}
a { text-decoration: none; }

.contact-list {
    display: flex;
    list-style: none;
}

.education-list {
    list-style: none;
    padding: 0;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.languages-list {
    list-style: none;
    padding: 0;
}

.courses-list {
    list-style: none;
    padding: 0;
}

.footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.img_prj {
    border: 2px solid purple;
    width: 80%;
}